<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <RollingFile name="file" fileName="${sys:catalina.base}/logs/csmp.log"
                filePattern="${sys:catalina.base}/logs/csmp.log-%d{yyyy-MM-dd}">
                <PatternLayout>
                        <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
                </PatternLayout>
                <Policies>
                        <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
       <Root level="debug">
           <AppenderRef ref="file" level="debug"/>
       </Root>
    </Loggers>
</Configuration>

<!-- Dies ist die Konfigurationsdatei für das Logging-Framework Log4j. Es wird festgelegt in welche logdatei geschrieben wird und wann diese neu angelegt wird mit welchem Namen.n der Datei werden alle Meldungen mit dem Level "debug" oder höher aufgezeichnet.   -->